<!-- <query-builder [(ngModel)]='query' [config]='config'>
  <ng-container *queryInput="let rule; type: 'date'">
    <custom-datepicker [(ngModel)]="rule.value"></custom-datepicker>
  </ng-container>
</query-builder> -->
<div style="text-align:center;" class="btn btn-xs">
  <div>
    <div id="builder" style="width:100%;"></div>
    <div style="display:inline-block;">
      <div><button class="btn btn-xs" id="btn-reset" (click)="resetClick()" style="margin-bottom:5px;">Reset</button></div>
      <div><button class="btn btn-xs" id="btn-send" (click)="testClick()">Send</button></div>
    </div>
  </div>
  
  <div>
      <table class="table table-condensed">
          <thead>
            <tr>
              <th>Name</th>
              <th>Program type</th>
              <th>Primary beneficiary</th>
              <!-- <th>Created by</th> -->
              <th>Primary area of focus</th>
              <th>Location</th>
              <!-- <th>Start date</th>
              <th>End date</th> -->
              <!-- <th>Amount requested</th>
              <th>Allocated amount</th> -->
              <th>No of beneficiaries</th>
            </tr>
          </thead>
          <tbody>
              <tr *ngFor="let user of filteredData;">
                <td>{{user.name}}</td>
                <td>{{user.program_type}}</td>
                <td>{{user.primary_beneficiary}}</td>
                <!-- <td>{{user.created_by}}</td> -->
                <td>{{user.primary_area_of_focus}}</td>
                <td>{{user.location}}</td>
                <!-- <td>{{user.start_date}}</td>
                <td>{{user.end_date}}</td> -->
                <!-- <td>{{user.amount_requested}}</td>
                <td>{{user.allocated_amount}}</td> -->
                <td>{{user.no_of_beneficiaries}}</td>
              </tr>
          </tbody>
      </table>
  </div>
</div>  



<!-- <button class="btn btn-primary parse-json">Apply</button>
<div id="result" class="hide">
  <h3>Output</h3>
  <pre></pre>
</div> -->
