.btn{
    color: black;
}
.btn .btn-xs .btn-danger{
    margin-bottom: "5px";
    padding-right: "5px";
    padding-bottom: "5px";
}

#builder{
    display:inline-block; 
    margin-bottom:5px;
}
th{
    max-width: 200px; 
    white-space: initial;
}
td{
    max-width: 200px; 
    white-space: initial;
}