/* You can add global styles to this file, and also import other style files */


.query-builder .rules-group-container{
    background-color: #ffffff !important;
    border: 1px solid #000000 !important;
}

.query-builder .rule-container, .query-builder .rule-placeholder, .query-builder .rules-group-container{
    background-color: #ffffff;
    border: 1px solid #000000 !important;
}
.btn {
    margin-right: 5px !important;
    margin-bottom: 5px !important;
    border-radius: 5px !important;
}

.btn-success{
    background-color: #ec407a !important;
    border: 1px solid #ffffff !important;
}
.btn-primary{
    background-color: #ec407a !important;
    border: 1px solid #ffffff !important;
}

.btn-danger{
    background-color: #ec407a !important;
    border: 1px solid #ffffff !important;
}

div#builder_rule_0 .rule-container::before{
    color: #ec407a !important;
}

.form-control {
    height: 35px !important;
}

#btn-reset{
    width: 70px !important; 
    background-color: #ec407a !important;
    color: #ffffff;
}

#btn-send{
    width: 70px !important; 
    background-color: #ec407a !important;
    color: #ffffff;
 }
